<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="The description of my page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Gesmidia</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="fundo" data-spy="scroll" data-target="#myS" data-offset="20">
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gestão de Multimidia", "Index", "Home", new { area = "Gesmidia" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Autores", "Index", "Autor")</li>
                    @*<li>@Html.ActionLink("Midia|Discos", "Index", "Midia")</li>*@
                    <li>@Html.ActionLink("Localizações", "Index", "Localizacao")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="papelA">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year  SuperFacíl - Gestão de Multimidia</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>